.cookie
  .cookie-wrap
    p.cookie__p Мы используем 
      a(href="#").cookie__a файлы «cookie» 
      | с целью сбора статистики посещаемости сайта и предоставления рекламы с учетом ваших интересов.
    a.cookie__ok Хорошо