footer.footer
  .footer-wrap
    .footer-col.footer-col_2
      h3.footer-col__title Связаться с нами
      a.footer-col__link(href="tel: +7 (921) 343-16-76") +7 921 343 16 76
      a.footer-col__link(href="tel: +7 (911) 926-51-19") +7 911 926 51 19
      a.footer-col__link(href="mailto: ghobbyru@gmail.com") ghobbyru@gmail.com
    .footer-col.footer-col_1
      h3.footer-col__title Будьте в курсе новых поступлений
      form.footer-col-form(action="", method="get")
        input.footer-col-form__input#footer-form__name(type="text", name="footer-name", placeholder="Имя" required)
        input.footer-col-form__input#footer-form__mail(type="email", name="footer-mail", placeholder="E-mail" required)
        button(type="submit") Отправить
    .footer-col.footer-col_3
      h3.footer-col__title Для клиента
      a.footer-col__link(href="#") Новинки
      a.footer-col__link(href="#") Доставка и оплата
      a.footer-col__link(href="#") Отзывы
      a.footer-col__link(href="#") Гарантии
  .footer-copyright
    p.footer-copyright_left Сделано в 
      a(href="https://ra-studio.ru/").footer-copyright_a Ra-studio
    p.footer-copyright_right © 2019 Сollection. All rights reserved.