.lots-item(data-lider="0" data-favourites="0").goods-item
  .lots-item__img
  .lots-item-desc
    h3.lots-item__title Gordian I Africanus. Sestertius
    p.lots-item__num Лот №
      span 1
    .lots-item-prew
      .lots-item-prew-half.lots-item-prew-half1
        p.lots-item-prew__assessment.lots-item-prew__p Оценка:
          span 75000 руб
        p.lots-item-prew__current-rate.lots-item-prew__p Текущая ставка:
          span 55000 руб
        p.lots-item-prew__rate.lots-item-prew__p Ставок:
          span 5
      .lots-item-prew-half.lots-item-prew-half2
        p.lots-item-prew__finish До завершения
        .lots-item-prew__finish-time
          p 11
            span дней
          p 10
            span часов
          p 12
            span минут
        a(href="#").lots-item-prew__btn Сделать ставку
  .fav-star
  img(src="assets/images/lider.png", alt="lider").lots-item__lider.marker