.catalog-main-item(data-favourites="0" data-new="0" data-ex="0").goods-item
  .catalog-main-item__img
  .catalog-main-item__title Gordian I Africanus. Sestertius
  .catalog-main-item__price 
    span 125 500 
    | руб.
  a(href="#").catalog-main-item__more Узнать подробнее
  .fav-star
  img(src="assets/images/new-item.png", alt="").catalog-main-item__new.marker
  img(src="assets/images/ex-item.png", alt="").catalog-main-item__ex.marker