extends ../common/main.pug
block title
  title Статья
block content
  .wrapper
    .head.head_flex-start
      .breadcrumb
        a(href="#").breadcrumb__link Главная
        a(href="#").breadcrumb__link Статья
      h1.gen-title Монеты в коллекции: хранение и обращение
      .article-date 19 Октября, 2019 
    .head-line
    article.article
      h2.article__subtitle Монета по своей природе является тем, чем измеряется денежная стоимость. Такая ее сущность означает, что даже маленькая монетка имеет отношение к значительному богатству, к сокровищу.
      img(src="assets/images/article1.png", alt="moneta").article__img
      p.article__p Вдобавок к этому, они, как правило, художественно привлекательны, красотой своих символов и изображений,необъяснимой или простой. Наконец, монеты обычно легко приобретаемы и занимают мало места. Неудивительно, что их любят коллекционировать.
      p.article__p Монета является и историческим источником. Источник этот свидетельствует нам об экономическом состоянии и богатстве власти (правителя или государства) выпустившей тот или иной денежный знак, а также о том, какой желала эта власть предстать перед тысячами пользователей, которые будут его хранить и носить. Изучая обращение монет и места, где они были найдены, мы узнаем о торговле и путешествиях (в том числе армий и шаек налетчиков). Изображения, дизайн монеты свидетельствуют о знаниях древних, об их политических и религиозных идеологиях. 
      .article__video
        <div class="thumb" style="cursor:pointer;">
          <img src="assets/images/my_thumbnail.png" style="height: 100%; width: 100%;"/>
          <svg class="svg-play" width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M35 70C54.33 70 70 54.33 70 35C70 15.67 54.33 0 35 0C15.67 0 0 15.67 0 35C0 54.33 15.67 70 35 70Z" fill="white"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M24 49V21L47 35L24 49Z" stroke="#111111" stroke-width="2" stroke-linecap="square"/>
          </svg>
        </div>
        <div style="display:none">
          <iframe width="100%" src="https://www.youtube.com/embed/fBB-fYBVh_g??rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
      h3.article__h3 Немного о монетной терминологии
      p.article__p В начале мы растолкуем несколько наиболее важных  терминов, часто встречающихся в нумизматической литературе. Для наглядности их восприятия используем золотой … императора Римской империи  … (… гг.). Указанные на рисунке термины выделены в тексте жирным шрифтом (с переводом их на английский язык), другие важные слова даны наклонным.
      p.article__p Одна из сторон монеты называется лицевая сторона, аверс(obverse), другая – оборотная сторона, реверс (reverse). Обычно обе стороны очевидно отличаются друг от друга, но встречаются монеты у которых  трудно решить что есть аверс, а что реверс. Общим правилом считается, что на аверсе  размещена наиболее важная информация, содержащая сведения для идентификации правителя или государства выпустившего монету, тогда как на реверсе располагаются менее значимые элементы. 
      .article-swap
        a(href="#").article-arrow.article-prew
          p.article-arrow__title Предыдущий пост
          .article-flex 
            img(src="assets/images/prew.png", alt="")
            .article-flex-desc
              p.article-flex-desc__title Монета Британских территорий
              p.article-flex-desc__date 19 Августа, 2019 
        a(href="#").article-arrow.article-next
          p.article-arrow__title Предыдущий пост
          .article-flex 
            img(src="assets/images/next.png", alt="")
            .article-flex-desc
              p.article-flex-desc__title Монета Британских территорий
              p.article-flex-desc__date 19 Августа, 2019 