extends ../common/main.pug
block title
  title Карточка товара 
block content
    .page.auction-item
        .breadcrumbs
            a(href="").breadcrumbs-item Главная
            a(href="").breadcrumbs-item Каталог
            a(href="").breadcrumbs-item Древняя Греция
            a(href="").breadcrumbs-item Греция и Сицилия
            a(href="").breadcrumbs-item Gordian I Africanus. Sestertius
        .item-card-main-block-wrapper
            .item-card-main-block
                .item-card-main-block-slider
                    .item-card-main-block-slider-item
                        img(src="assets/images/slider-item.png", alt="")
                    .item-card-main-block-slider-item
                        img(src="assets/images/slider-item.png", alt="")
                    .item-card-main-block-slider-item
                        img(src="assets/images/slider-item.png", alt="")
                    .item-card-main-block-slider-item
                        img(src="assets/images/slider-item.png", alt="")
                .item-card-main-block-description
                    .item-card-main-block-description__header
                        span Описание:
                    .item-card-main-block-description__main-text
                        span Zeugitania, Carthage; c. 350-320 BC,
                            | Stater, 9.31g. Jenkins-Group IIIf, 37.
                            | Obv: Head of Tanit l., wreathed with wheat,
                            | wearing necklace of pendants and triple-drop earring.
                            | Rx: Horse standing r. on exergual line; group
                            | of three small pellets before.The gold staters
                            | of Carthage are far more artistic and struck
                            | in higher relief than the electrum staters.
                            | This is no exception . Choice EF
                    .item-card-main-block-description__header
                        span Характеристики:
                    .item-card-main-block-title-main-content
                        .item-card-main-block-title-main-content__img
                            img(src="assets/images/coin-size.svg", alt="")
                            img(src="assets/images/coin-size-line.svg", alt="")
                            span 25 мм
                        .item-card-main-block-title-main-content__properties
                            .item-card-main-block-title-main-content__properties-row
                                .item-card-main-block-title-main-content__properties-row-key
                                    span Страна:
                                .item-card-main-block-title-main-content__properties-row-value
                                    span Древняя Греция
                            .item-card-main-block-title-main-content__properties-row
                                .item-card-main-block-title-main-content__properties-row-key
                                    span Время:
                                .item-card-main-block-title-main-content__properties-row-value
                                    span 5 век до н.э.
                            .item-card-main-block-title-main-content__properties-row
                                .item-card-main-block-title-main-content__properties-row-key
                                    span Материал: 
                                .item-card-main-block-title-main-content__properties-row-value
                                    span Золото
                .item-card-main-block-title
                    .item-card-main-block-title-header
                        span Gordian I Africanus. Sestertius
                        <svg width="30" height="28" viewBox="0 0 30 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15 1.26414L18.5965 9.61555L18.7139 9.88823L19.0095 9.91565L28.0636 10.7554L21.2323 16.7566L21.0092 16.9525L21.0745 17.2421L23.0737 26.1125L15.2553 21.4701L15 21.3185L14.7447 21.4701L6.92626 26.1125L8.92548 17.2421L8.99075 16.9525L8.7677 16.7566L1.93642 10.7554L10.9905 9.91565L11.2861 9.88823L11.4035 9.61555L15 1.26414Z" stroke="#C69A60"/>
                        </svg>
                    .item-card-main-block-title-auction-footer                    
                        .item-card-main-block-title-auction-footer-column
                            .item-card-main-block-title-auction-footer-column-row.title-row
                                span Текущая ставка
                            .item-card-main-block-title-auction-footer-column-row
                                span.main_info 55 000
                                span.add_info руб
                        .item-card-main-block-title-auction-footer-column
                            .item-card-main-block-title-auction-footer-column-row.title-row
                                span До завершения
                            .item-card-main-block-title-auction-footer-column-row-time
                                .item-card-main-block-title-auction-footer-column-row
                                    span.main_info 11
                                    span.add_info дней
                                .item-card-main-block-title-auction-footer-column-row
                                    span.main_info 10
                                    span.add_info часов
                                .item-card-main-block-title-auction-footer-column-row
                                    span.main_info 12
                                    span.add_info минут                  
                    .item-card-main-block-title-footer
                        .item-card-main-block-title-footer-row.auction-numbers
                            .item-card-main-block-title-footer-row-column
                                input(type="text" value="910 руб")
                                a(href="").item-card-main-block-title-footer-row__add-to-card-link
                                    span Сделать ставку
                            .item-card-main-block-title-footer-row-column
                                .item-card-main-block-title-main-content__properties
                                    .item-card-main-block-title-main-content__properties-row
                                        .item-card-main-block-title-main-content__properties-row-key
                                            span Оценка:
                                        .item-card-main-block-title-main-content__properties-row-value
                                            span 75000 руб
                                    .item-card-main-block-title-main-content__properties-row
                                        .item-card-main-block-title-main-content__properties-row-key
                                            span Ставок:
                                        .item-card-main-block-title-main-content__properties-row-value
                                            span 5
                                    .item-card-main-block-title-main-content__properties-row
                                        .item-card-main-block-title-main-content__properties-row-key
                                            span Шаг: 
                                        .item-card-main-block-title-main-content__properties-row-value
                                            span 200 руб
                        .item-card-main-block-title-footer-row
                            a(href="").item-card-main-block-title-footer-row__add-to-card-link--transparent
                                span Остались вопросы?
        .item-card-popular-items.betting-history
            .item-card-popular-items-header
                span История ставок
            .item-card-popular-items-content
                .item-card-popular-items-content-row.title
                    .item-card-popular-items-content-column
                        span Дата
                    .item-card-popular-items-content-column
                        span Покупатель
                    .item-card-popular-items-content-column
                        span Ставка
                .item-card-popular-items-content-row
                    .item-card-popular-items-content-column
                        span.date 25.05.1999
                        span.time 16:53:23
                    .item-card-popular-items-content-column
                        span Артур
                    .item-card-popular-items-content-column
                        span 55 000 руб
                .item-card-popular-items-content-row
                    .item-card-popular-items-content-column
                        span.date 25.05.1999
                        span.time 16:52:24
                    .item-card-popular-items-content-column
                        span Андрей
                    .item-card-popular-items-content-column
                        span 53 000 руб
                .item-card-popular-items-content-row
                    .item-card-popular-items-content-column
                        span.date 25.05.1999
                        span.time 16:51:56
                    .item-card-popular-items-content-column
                        span Артем
                    .item-card-popular-items-content-column
                        span 52 000 руб
                .item-card-popular-items-content-row
                    .item-card-popular-items-content-column
                        span.date 25.05.1999
                        span.time 16:50:11
                    .item-card-popular-items-content-column
                        span Александр
                    .item-card-popular-items-content-column
                        span 51 000 руб
                