extends ../common/main.pug
block title
  title Блог
block content
  .wrapper
    .head.head_flex-start
      .breadcrumb
        a(href="#").breadcrumb__link Главная
        a(href="#").breadcrumb__link Блог
      h1.gen-title Блог
    .head-line
    .articles-wrap.articles-main
      .articles-wrap-wr
        .articles-item
          .articles-item-img
          .articles-item__date Опубликовано: 
            span 21.01.2019
          h3.articles-item__title Банк России посвятила монеты усадьбе-музею «Архангельское» в Москве
          a(href="#").articles-item__more Читать далее<br>
            <svg width="99" height="8" viewBox="0 0 99 8" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M98.3536 4.35355C98.5488 4.15829 98.5488 3.84171 98.3536 3.64645L95.1716 0.464466C94.9763 0.269204 94.6597 0.269204 94.4645 0.464466C94.2692 0.659728 94.2692 0.976311 94.4645 1.17157L97.2929 4L94.4645 6.82843C94.2692 7.02369 94.2692 7.34027 94.4645 7.53553C94.6597 7.7308 94.9763 7.7308 95.1716 7.53553L98.3536 4.35355ZM0 4.5H98V3.5H0V4.5Z" fill="black" fill-opacity="0.7"/>
            </svg>
        .articles-item
          .articles-item-img
          .articles-item__date Опубликовано: 
            span 21.01.2019
          h3.articles-item__title Монета Британских территорий в Индийском океане «Воительница и дракон»
          a(href="#").articles-item__more Читать далее<br>
            <svg width="99" height="8" viewBox="0 0 99 8" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M98.3536 4.35355C98.5488 4.15829 98.5488 3.84171 98.3536 3.64645L95.1716 0.464466C94.9763 0.269204 94.6597 0.269204 94.4645 0.464466C94.2692 0.659728 94.2692 0.976311 94.4645 1.17157L97.2929 4L94.4645 6.82843C94.2692 7.02369 94.2692 7.34027 94.4645 7.53553C94.6597 7.7308 94.9763 7.7308 95.1716 7.53553L98.3536 4.35355ZM0 4.5H98V3.5H0V4.5Z" fill="black" fill-opacity="0.7"/>
            </svg>
        .articles-item
          .articles-item-img
          .articles-item__date Опубликовано: 
            span 21.01.2019
          h3.articles-item__title Сан-Марино выпустили монету в честь мобильной связи 5G
          .articles-item__desc Темы памятных монетах отличаются невероятным разнообразием...
          a(href="#").articles-item__more Читать далее<br>
            <svg width="99" height="8" viewBox="0 0 99 8" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M98.3536 4.35355C98.5488 4.15829 98.5488 3.84171 98.3536 3.64645L95.1716 0.464466C94.9763 0.269204 94.6597 0.269204 94.4645 0.464466C94.2692 0.659728 94.2692 0.976311 94.4645 1.17157L97.2929 4L94.4645 6.82843C94.2692 7.02369 94.2692 7.34027 94.4645 7.53553C94.6597 7.7308 94.9763 7.7308 95.1716 7.53553L98.3536 4.35355ZM0 4.5H98V3.5H0V4.5Z" fill="black" fill-opacity="0.7"/>
            </svg>
        .articles-item
          .articles-item-img
          .articles-item__date Опубликовано: 
            span 21.01.2019
          h3.articles-item__title Банк России посвятила монеты усадьбе-музею «Архангельское» в Москве
          a(href="#").articles-item__more Читать далее<br>
            <svg width="99" height="8" viewBox="0 0 99 8" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M98.3536 4.35355C98.5488 4.15829 98.5488 3.84171 98.3536 3.64645L95.1716 0.464466C94.9763 0.269204 94.6597 0.269204 94.4645 0.464466C94.2692 0.659728 94.2692 0.976311 94.4645 1.17157L97.2929 4L94.4645 6.82843C94.2692 7.02369 94.2692 7.34027 94.4645 7.53553C94.6597 7.7308 94.9763 7.7308 95.1716 7.53553L98.3536 4.35355ZM0 4.5H98V3.5H0V4.5Z" fill="black" fill-opacity="0.7"/>
            </svg>
        .articles-item
          .articles-item-img
          .articles-item__date Опубликовано: 
            span 21.01.2019
          h3.articles-item__title Монета Британских территорий в Индийском океане «Воительница и дракон»
          a(href="#").articles-item__more Читать далее<br>
            <svg width="99" height="8" viewBox="0 0 99 8" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M98.3536 4.35355C98.5488 4.15829 98.5488 3.84171 98.3536 3.64645L95.1716 0.464466C94.9763 0.269204 94.6597 0.269204 94.4645 0.464466C94.2692 0.659728 94.2692 0.976311 94.4645 1.17157L97.2929 4L94.4645 6.82843C94.2692 7.02369 94.2692 7.34027 94.4645 7.53553C94.6597 7.7308 94.9763 7.7308 95.1716 7.53553L98.3536 4.35355ZM0 4.5H98V3.5H0V4.5Z" fill="black" fill-opacity="0.7"/>
            </svg>
        .articles-item
          .articles-item-img
          .articles-item__date Опубликовано: 
            span 21.01.2019
          h3.articles-item__title Сан-Марино выпустили монету в честь мобильной связи 5G
          .articles-item__desc Темы памятных монетах отличаются невероятным разнообразием...
          a(href="#").articles-item__more Читать далее<br>
            <svg width="99" height="8" viewBox="0 0 99 8" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M98.3536 4.35355C98.5488 4.15829 98.5488 3.84171 98.3536 3.64645L95.1716 0.464466C94.9763 0.269204 94.6597 0.269204 94.4645 0.464466C94.2692 0.659728 94.2692 0.976311 94.4645 1.17157L97.2929 4L94.4645 6.82843C94.2692 7.02369 94.2692 7.34027 94.4645 7.53553C94.6597 7.7308 94.9763 7.7308 95.1716 7.53553L98.3536 4.35355ZM0 4.5H98V3.5H0V4.5Z" fill="black" fill-opacity="0.7"/>
            </svg>
    .pag-blog
      a(href="#").pag-blog__link.pag-blog__link_a 01
      a(href="#").pag-blog__link 02
      a(href="#").pag-blog__link 03
      a(href="#").pag-blog__link 04
      a(href="#").pag-blog__next 
        <svg width="16" height="11" viewBox="0 0 16 11" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0.5 5.5H15.5" stroke="#111111" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M10.5 0.5L15.5 5.5L10.5 10.5" stroke="#111111" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
