<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="assets/styles/app.min.css")
    title Document
  body
    section.first-section
      h1(data-wow-delay="2.4s").first-section__title.wow.fadeInUp Стажерская программа
      h2(data-wow-delay="2.4s").first-section__subtitle.wow.fadeInUp Компания ALP GROUP представляет стажерскую программу профессионального развития в области разработки и тестирования
      .direction-wrap
        div(data-wow-delay="2.7s").direction-block.wow.fadeInUp
          img.direction-block__img(src="assets/images/1c.png", alt="1c")
          br
          p.direction-block__p Разработка 1С
        div(data-wow-delay="2.5s").direction-block.wow.fadeInUp
          img.direction-block__img(src="assets/images/bi.png", alt="bi")
          br
          p.direction-block__p Обработка и анализ данных (BI) 
        div(data-wow-delay="2.9s").direction-block.wow.fadeInUp
          img.direction-block__img(src="assets/images/test.png", alt="test")
          br
          p.direction-block__p Тестирование
      .cta-block(data-wow-delay="2.4s").wow.fadeInUp
        .cta-block-wrap
          .cta-block-text(data-wow-delay="2.5s").wow.fadeInUp
            p.cta-block-text__top Открыт набор на курсы для студентов 3 и 4 курса
            p.cta-block-text__bot Для участия в программе заполни анкету
          a(href="#trainee-form" data-wow-delay="2.5s").cta-block__btn.wow.fadeInUp Заполнить анкету
    section.second-section
      h1.second-section__title.wow.fadeInUp Сделай шаг навстречу успешной карьере<br>вместе с ALP Group
      .list-wrap
        ul.list-ul
          li(data-wow-delay="0.1s").wow.fadeInUp Бесплатное обучение по уникальной Стажерской программе ALP Group
          li(data-wow-delay="0.2s").wow.fadeInUp Наставничество со стороны признанных IT-экспертов ALP
          li(data-wow-delay="0.3s").wow.fadeInUp Решение практических и интересных задач в процессе обучения
          li(data-wow-delay="0.4s").wow.fadeInUp Возможность работать в удобное время (летняя практика и не только)
          li(data-wow-delay="0.5s").wow.fadeInUp Возможность стажировки и трудоустройства для студентов, успешно завершивших стажерскую программу
    section.third-section
      h1.third-section__title.wow.fadeInUp Кого мы ищем?
      .cards-wrap
        .cards-wrap__card(data-wow-delay="0.1s").wow.fadeInUp
          .card-img
            img(src="assets/images/ready.png", alt="CheckIt")
          p.card__p Кандидатов, обладающих<br>базовыми навыками<br>программирования
        .cards-wrap__card(data-wow-delay="0.3s").wow.fadeInUp
          .card-img
            img(src="assets/images/ready.png", alt="CheckIt")
          p.card__p Кандидатов, обладающих<br>системным мышлением
        .cards-wrap__card(data-wow-delay="0.5s").wow.fadeInUp
          .card-img
            img(src="assets/images/ready.png", alt="CheckIt")
          p.card__p Кандидатов, имеющих<br>огромное желание учиться<br>и развиваться
    section.diagram 
      .diagram-wrap
        img(src="assets/images/axis.png", alt="axis").diagram-wrap__axis.wow.fadeInUp
        img(src="assets/images/value.png", alt="value" data-wow-delay="0.3s").diagram-wrap__value.wow.fadeInUp
          
    section.advantage
      h1.advantage__title.wow.fadeInUp Компания ALP GROUP работает<br>на рынке IT услуг более 20 лет
      .advantage-wrap
        .advantage-block(data-wow-delay="0.5s").wow.fadeInUp
          img.advantage-block__img(src="assets/images/fingerUp.png", alt="1c")
          br
          p.advantage-block__p Достойная<br>заработаная плата
        .advantage-block(data-wow-delay="0.3s").wow.fadeInUp
          img.advantage-block__img(src="assets/images/house.png", alt="bi")
          br
          p.advantage-block__p Работа<br>рядом с домом 
        .advantage-block(data-wow-delay="0.1s").wow.fadeInUp
          img.advantage-block__img(src="assets/images/stairs.png", alt="test")
          br
          p.advantage-block__p Профессиональный<br>и карьерный рост
    section.clients
      h1.clients__title.wow.fadeInUp Наши клиенты
      .clients-wrap.wow(data-wow-delay="0.3s").fadeInUp
        img(src="assets/images/logos.png", alt="firm1c")
    section.about
      h1.about__title.wow.fadeInUp Сделай шаг навстречу успешной карьере<br>вместе с ALP Group
      .about-text.wow.fadeInUp(data-wow-delay="0.1s")
        p.about-text__top <span>Миссия компании</span> — разработка и внедрение новейших технологий автоматизации бизнеса, за счет которых наши Заказчики получают преимущества перед конкурентами.
        p.about-text__top Мы вместе создаем истории успеха.
        p.about-text__bot.wow.fadeInUp(data-wow-delay="0.3s") Компания ALP GROUP, эксперт в области разработки, внедрения и сопровождения бизнес-систем, работает на рынке  с 1996 года.  За время, прошедшее с момента создания, АЛП сумела занять лидирующие позиции на российском рынке в Enterprise сегменте. На счету ALP GROUP крупнейшие внедрение 1С в России.
      .about-advantage
        .advantage-block.wow.fadeInUp(data-wow-delay="0.3s")
          .advantage-counter
            .advantage-increment.advantage-increment1 200
            | +
          p.advantage-block__p Общее количество<br>заказчиков
        .advantage-block.wow.fadeInUp(data-wow-delay="0.1s")
          .advantage-counter
            .advantage-increment.advantage-increment2 4,8
            | /5
          p.advantage-block__p Удовлетворенность<br>заказчиков
        .advantage-block.wow.fadeInUp(data-wow-delay="0.2s")
          .advantage-counter
            .advantage-increment.advantage-increment3 400
            | +
          p.advantage-block__p Общее количество<br>сотрудников
        .advantage-block.wow.fadeInUp(data-wow-delay="0.4s")
          .advantage-counter
            .advantage-increment.advantage-increment4 250
            | +
          p.advantage-block__p Сертифицированных<br>специалистов
      .about-contacts.wow.fadeInUp
        h2.about-contacts__title.wow.fadeInUp(data-wow-delay="0.1s") Лукина Ольга
        .about-cont-wrap.wow.fadeInUp(data-wow-delay="0.3s")
          p.about-contacts__p Менеджер по обучению персонала, департамент корпоративных информационных систем
          a.about-contacts__link(href="mailto:olga.lukina@alp.ru") <br>
            img(src="assets/images/mail.png", alt="mail")
            | olga.lukina@alp.ru
          a.about-contacts__link(href="tel:88005555151") <br>
            img(src="assets/images/num.png", alt="num")
            | 8 (800) 555-51-51
          a.about-contacts__link(href="tel:+74957855151") <br>
            img(src="assets/images/tel.png", alt="tel")
            | +7 (495) 785-51-51 доб. (5665)
    .popup-trainee.white-popup.mfp-hide#trainee-form
      form(action="#", method="get")
        h1.form__title Анкета для записи на собеседование
        p.form__p Уважаемые студенты, для рассмотрения вашей кандидатуры на запись в программу профессионального развития в области разработки и тестирования «Стажерская программа», просим заполнить короткую анкету с вашими контактными данными.
        p.form__p Пожалуйста, заполните в свободной форме все поля анкеты и нажмите кнопку «Готово». Мы свяжемся с вами по указанным в анкете контактам.
        .label-wrap
          label(for="fio") Фамилия, имя и отчество полностью:
          .in-block.input_full
            input(type="text", name="fio" pattern="[А-Яа-яЁё]{10, }" required placeholder="Константин Константинович Константинопольский")
        .label-wrap
          label(for="age") Возраст:
          .in-block.in-block_age
            input(type="text", name="age" required placeholder="20 лет")
        .label-wrap
          label(for="tel") Телефон:
          .in-block.in-block_tel
            input(type="tel", name="tel" required placeholder="+7 800 700-06-11")
        .label-wrap
          label(for="mail") Адрес электронной почты:
          .in-block.input_full
            input(type="email", name="mail" required placeholder="info@mail.ru")
        .label-wrap
          label(for="uni") Название университета:
          .in-block.input_full
            input(type="text", name="uni" required)
        .label-wrap
          label(for="uni") Специальность, курс:
          .in-block.input_full
            input(type="text", name="uni" required)
        .label-wrap
          label(for="form-study") Форма обучения:
          .in-block
            select(name="form-study" required)
              option(value="Дистанционная" selected) Дистанционная
              option(value="Очная") Очная
              option(value="Заочная") Заочная
              option(value="Вечерняя" ) Вечерняя
        .label-wrap
          label(for="ball") Средний балл зачетной книжки
          .in-block.in-block_ball
            input(type="text", name="ball" required placeholder="12")
        .label-wrap
          label(for="lvlComp") Уровень владения компьютером:
          .in-block
            select(name="lvlComp" required) 
              option(value="Системный администратор" selected) Системный администратор
              option(value="Не системный администратор") Не системный администратор
        .label-wrap
          label(for="lblEnglish") Уровень владения английским языком:
          .in-block
            select(name="lblEnglish" required)
              option(value="Pre-Intermediate" selected) Pre-Intermediate
              option(value="Intermediate") Intermediate
              option(value="Upper-Intermediate") Upper-Intermediate
        .label-wrap
          label(for="lvlComp") Отношение к воинской службе:
          .in-block
            select(name="lvlComp" required)
              option(value="Не подлежу призыву" selected) Не подлежу призыву
              option(value="Годен") Годен
        .label-wrap.label-wrap_full
          label(for="int-les") Укажите 3 наиболее интересных предмета для вас в ВУЗе:
          .in-block
            input(type="text", name="int-les" required)        
        .label-wrap.label-wrap_full
          label(for="notInt-les") Укажите 3 наименее интересных предмета для вас в ВУЗе:
          .in-block
            input(type="text", name="notInt-les" required) 
        .label-wrap.label-wrap_full
          label(for="dopCourse") Дополнительное образование, курсы:
          .in-block
            textarea(name="dopCourse")
        .label-wrap.label-wrap_full
          label(for="olimpiada") Достижения (участие в Олимпиадах, конкурсах, получение наград, грантов и т.д.):
          .in-block
            textarea(name="olimpiada")
        .label-wrap.label-wrap_full
          label(for="hobby") Ваши увлечения, хобби:
          .in-block
            textarea(name="hobby" required)
        .label-wrap.label-wrap_full
          label(for="about1c") Что вы знаете про 1С?
          .in-block
            textarea(name="about1c" required)
        .label-wrap.label-wrap_full
          label(for="aboutALP") Что вы ожидаете от прохождения стажировки в ALP Group?
          .in-block
            textarea(name="aboutALP" required)
        .label-wrap.label-wrap_full
          label(for="aboutTraine") На что, по вашему мнению, стоит обратить внимание при рассмотрении вашей кандидатуры?
          .in-block
            textarea(name="aboutTraine" required)
        .label-wrap.label-wrap_full
          label(for="whenReady") С какого времени готовы приступить к стажировке?
          .in-block
            textarea(name="whenReady" required)
        .submit-block
          input(type="submit", value="Отправить анкету")
          p.submit-block__p Нажимая на кнопку «Отправить», вы соглашаетесь<br>с 
            a(href="#") политикой конфиденциальности
          
        
        

    script(src="assets/scripts/jquery.min.js")
    script(src="assets/scripts/spincrement.min.js")
    script(src="assets/scripts/wow.min.js")
    script(src="assets/scripts/magnific.min.js")
    script(src="assets/scripts/inputmask.min.js")
    script(src="assets/scripts/main.js")
      