extends ../common/main.pug

block title
  title Главная 

block content
  .wrapper
    section.main-search-block
      .search-block
        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M24.8541 4.93147L20.0685 0.145825C19.8739 -0.0486085 19.5586 -0.0486085 19.3641 0.145825C18.4017 1.10823 18.3233 2.6241 19.1274 3.67752L7.88934 14.9157L6.00555 13.0319C5.81111 12.8375 5.49568 12.8375 5.3012 13.0319L1.37849 16.9546C-0.459497 18.7927 -0.459497 21.7834 1.37849 23.6214C2.29749 24.5404 3.50471 25 4.71189 25C5.91907 25 7.1263 24.5404 8.0453 23.6214L11.968 19.6987C12.0614 19.6053 12.1139 19.4787 12.1139 19.3465C12.1139 19.2144 12.0614 19.0878 11.968 18.9944L10.0843 17.1106L21.3221 5.87278C21.7883 6.22972 22.3554 6.42357 22.9524 6.42357C23.6708 6.42357 24.3461 6.14388 24.8541 5.63592C25.0486 5.44139 25.0486 5.12601 24.8541 4.93147ZM10.9115 19.3466L7.34105 22.917C5.89144 24.3667 3.5326 24.3667 2.08289 22.917C0.633228 21.4674 0.633228 19.1086 2.08289 17.659L5.65335 14.0885L7.93026 16.3654L6.36033 17.9353C6.16585 18.1298 6.16585 18.4452 6.36033 18.6397C6.4576 18.7369 6.58504 18.7856 6.71248 18.7856C6.83992 18.7856 6.96741 18.7369 7.06468 18.6397L8.6346 17.0698L10.9115 19.3466ZM9.37996 16.4063L8.59368 15.62L19.8143 4.39944L20.6005 5.18567L9.37996 16.4063ZM22.9525 5.42747C22.5002 5.42747 22.075 5.25135 21.7552 4.93152L20.0685 3.24475C19.5308 2.70706 19.431 1.89485 19.7691 1.25525L23.7453 5.23138C23.5039 5.3595 23.2334 5.42747 22.9525 5.42747Z" fill="black" fill-opacity="0.3"/>
        </svg>
        form(action="", method="get")
          input#seacrh-field(type="text", name="", placeholder="Найдите монеты и артефакты")
          button Искать
    section.main-news
      .main-news-wrap
        .half
          .main-news-item.main-news-item_b
            .main-news-item-img
            .main-news-item-desc
              h3.main-news-item-desc__title Новые поступления монет
              span.main-news-item-desc__date 25.04.2019
            a(href="#").main-news-item__more Смотреть
        .half
          .main-news-item.main-news-item_s.main-news-item_s1
            .main-news-item-img
            .main-news-item-desc
              h3.main-news-item-desc__title Юбилейные монеты
              span.main-news-item-desc__date 25.04.2019
              p.main-news-item-desc__about Королевский монетный двор Австралии разработал, отчеканил и упаковал новые монеты под официальным названием ICC Cricket World Cup 2019 $1. 
              a(href="#").main-news-item__more Узнать подробнее
          .main-news-item.main-news-item_s.main-news-item_s2
            .main-news-item-img
            .main-news-item-desc
              h3.main-news-item-desc__title Специальная серия
              span.main-news-item-desc__date 25.04.2019
              p.main-news-item-desc__about Королевский монетный двор Австралии разработал, отчеканил и упаковал новые монеты под официальным названием ICC Cricket World Cup 2019 $1. 
              a(href="#").main-news-item__more Узнать подробнее
    section.catalog
      h3.gen-title Каталог
      .catalog-wrap
        .catalog-item.catalog-item1
          .catalog-item__title Монеты
          a(href="#").catalog-item__category Категория
          .catalog-item__hr
          .catalog-item__desc Представлена большая коллекция монет, включающая в себя как античные монет, так и монеты из СССР
          a(href="#").catalog-item__to-section Перейти к разделу
        .catalog-item.catalog-item2
          .catalog-item__title Монеты
          a(href="#").catalog-item__category Категория
          .catalog-item__hr
          .catalog-item__desc Представлена большая коллекция монет, включающая в себя как античные монет, так и монеты из СССР
          a(href="#").catalog-item__to-section Перейти к разделу
      .catalog-bot
        .catalog-bot-wrap
          .material
            h3.gen-title Материал
            .material-wrap
              .catalog-item.catalog-item_1.catalog-item_sm
                .catalog-item__title Монеты
                a(href="#").catalog-item__category Раздел
                .catalog-item__hr
                a(href="#").catalog-item__to-section Перейти к разделу
              .catalog-item.catalog-item_2.catalog-item_sm
                .catalog-item__title Серебро
                a(href="#").catalog-item__category Раздел
                .catalog-item__hr
                a(href="#").catalog-item__to-section Перейти к разделу
              .catalog-item.catalog-item_3.catalog-item_sm
                .catalog-item__title Бронза
                a(href="#").catalog-item__category Раздел
                .catalog-item__hr
                a(href="#").catalog-item__to-section Перейти к разделу
              .catalog-item.catalog-item_4.catalog-item_sm
                .catalog-item__title Керамика
                a(href="#").catalog-item__category Раздел
                .catalog-item__hr
                a(href="#").catalog-item__to-section Перейти к разделу
          .era
            h3.gen-title Эпоха
            .era-wrap
              .catalog-item.catalog-item_5.catalog-item_sm
                .catalog-item__title Архаика
                a(href="#").catalog-item__category Раздел
                .catalog-item__hr
                a(href="#").catalog-item__to-section Перейти к разделу
              .catalog-item.catalog-item_6.catalog-item_sm
                .catalog-item__title Античность
                a(href="#").catalog-item__category Раздел
                .catalog-item__hr
                a(href="#").catalog-item__to-section Перейти к разделу
    section.articles
      h3.gen-title Читайте наши публикации
      .articles-wrap
        .articles-wrap-wr
          .articles-item.articles-item_1
            .articles-item-img
            .articles-item__date Опубликовано: 
              span 21.01.2019
            h3.articles-item__title Банк России посвятила монеты усадьбе-музею «Архангельское» в Москве
            a(href="#").articles-item__more Читать далее<br>
              <svg width="99" height="8" viewBox="0 0 99 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M98.3536 4.35355C98.5488 4.15829 98.5488 3.84171 98.3536 3.64645L95.1716 0.464466C94.9763 0.269204 94.6597 0.269204 94.4645 0.464466C94.2692 0.659728 94.2692 0.976311 94.4645 1.17157L97.2929 4L94.4645 6.82843C94.2692 7.02369 94.2692 7.34027 94.4645 7.53553C94.6597 7.7308 94.9763 7.7308 95.1716 7.53553L98.3536 4.35355ZM0 4.5H98V3.5H0V4.5Z" fill="black" fill-opacity="0.7"/>
              </svg>
          .articles-item.articles-item_2
            .articles-item-img
            .articles-item__date Опубликовано: 
              span 21.01.2019
            h3.articles-item__title Монета Британских территорий в Индийском океане «Воительница и дракон»
            a(href="#").articles-item__more Читать далее<br>
              <svg width="99" height="8" viewBox="0 0 99 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M98.3536 4.35355C98.5488 4.15829 98.5488 3.84171 98.3536 3.64645L95.1716 0.464466C94.9763 0.269204 94.6597 0.269204 94.4645 0.464466C94.2692 0.659728 94.2692 0.976311 94.4645 1.17157L97.2929 4L94.4645 6.82843C94.2692 7.02369 94.2692 7.34027 94.4645 7.53553C94.6597 7.7308 94.9763 7.7308 95.1716 7.53553L98.3536 4.35355ZM0 4.5H98V3.5H0V4.5Z" fill="black" fill-opacity="0.7"/>
              </svg>
          .articles-item.articles-item_3
            .articles-item-img
            .articles-item__date Опубликовано: 
              span 21.01.2019
            h3.articles-item__title Сан-Марино выпустили монету в честь мобильной связи 5G
            .articles-item__desc Темы памятных монетах отличаются невероятным разнообразием...
            a(href="#").articles-item__more Читать далее<br>
              <svg width="99" height="8" viewBox="0 0 99 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M98.3536 4.35355C98.5488 4.15829 98.5488 3.84171 98.3536 3.64645L95.1716 0.464466C94.9763 0.269204 94.6597 0.269204 94.4645 0.464466C94.2692 0.659728 94.2692 0.976311 94.4645 1.17157L97.2929 4L94.4645 6.82843C94.2692 7.02369 94.2692 7.34027 94.4645 7.53553C94.6597 7.7308 94.9763 7.7308 95.1716 7.53553L98.3536 4.35355ZM0 4.5H98V3.5H0V4.5Z" fill="black" fill-opacity="0.7"/>
              </svg>

