<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="assets/styles/app.min.css")
    title Document
  body
    section.first-section
      h1(data-wow-delay="2.4s").first-section__title.wow.fadeInUp Стажерская программа
      h2(data-wow-delay="2.4s").first-section__subtitle.wow.fadeInUp Компания ALP GROUP представляет стажерскую программу профессионального развития в области разработки и тестирования
      .direction-wrap
        div(data-wow-delay="2.7s").direction-block.wow.fadeInUp
          img.direction-block__img(src="assets/images/1c.png", alt="1c")
          br
          p.direction-block__p Разработка 1С
        div(data-wow-delay="2.5s").direction-block.wow.fadeInUp
          img.direction-block__img(src="assets/images/bi.png", alt="bi")
          br
          p.direction-block__p Обработка и анализ данных (BI) 
        div(data-wow-delay="2.9s").direction-block.wow.fadeInUp
          img.direction-block__img(src="assets/images/test.png", alt="test")
          br
          p.direction-block__p Тестирование
      .cta-block(data-wow-delay="2.4s").wow.fadeInUp
        .cta-block-wrap
          .cta-block-text(data-wow-delay="2.5s").wow.fadeInUp
            p.cta-block-text__top Открыт набор на курсы для студентов 3 и 4 курса
            p.cta-block-text__bot Для участия в программе заполни анкету
          a(href="#trainee-form" data-wow-delay="2.5s").cta-block__btn.wow.fadeInUp Заполнить анкету
    section.second-section
      h1.second-section__title.wow.fadeInUp Сделай шаг навстречу успешной карьере<br>вместе с ALP Group
      .list-wrap
        ul.list-ul
          li(data-wow-delay="0.1s").wow.fadeInUp Бесплатное обучение по уникальной Стажерской программе ALP Group
          li(data-wow-delay="0.2s").wow.fadeInUp Наставничество со стороны признанных IT-экспертов ALP
          li(data-wow-delay="0.3s").wow.fadeInUp Решение практических и интересных задач в процессе обучения
          li(data-wow-delay="0.4s").wow.fadeInUp Возможность работать в удобное время (летняя практика и не только)
          li(data-wow-delay="0.5s").wow.fadeInUp Возможность стажировки и трудоустройства для студентов, успешно завершивших стажерскую программу
    section.third-section
      h1.third-section__title.wow.fadeInUp Кого мы ищем?
      .cards-wrap
        .cards-wrap__card(data-wow-delay="0.1s").wow.fadeInUp
          .card-img
            img(src="assets/images/ready.png", alt="CheckIt")
          p.card__p Кандидатов, обладающих<br>базовыми навыками<br>программирования
        .cards-wrap__card(data-wow-delay="0.3s").wow.fadeInUp
          .card-img
            img(src="assets/images/ready.png", alt="CheckIt")
          p.card__p Кандидатов, обладающих<br>системным мышлением
        .cards-wrap__card(data-wow-delay="0.5s").wow.fadeInUp
          .card-img
            img(src="assets/images/ready.png", alt="CheckIt")
          p.card__p Кандидатов, имеющих<br>огромное желание учиться<br>и развиваться
    section.diagram_m
      <svg height="466pt" class="wow fadeInUp" viewBox="-16 0 466 466.238" data-wow-delay="0.3s" width="466pt" xmlns="http://www.w3.org/2000/svg"><path d="m393.851562 161.238281h-.710937c-9.851563.035157-19.320313 3.824219-26.476563 10.589844-5.585937-16.320313-20.402343-28.011719-37.808593-28.011719-10.78125.140625-21.027344 4.714844-28.320313 12.652344-6.589844-13.90625-20.199218-23.230469-35.886718-23.230469h-.757813c-9.027344 0-17.816406 2.6875-23.816406 8.03125v-98.878906c0-23.375-18.125-42.390625-40.246094-42.390625-22.097656 0-40.152344 19-40.167969 42.359375l-.171875 195.554687-11.863281-14.421874c-9.546875-11.886719-23.605469-19.269532-38.808594-20.386719-14.898437-1.019531-29.554687 4.167969-40.496094 14.332031l-9.558593 7.929688c-2.902344 2.40625-3.730469 6.511718-1.992188 9.851562l92.957031 178.46875c16.910157 32.488281 49.078126 52.550781 83.949219 52.550781h104.261719c52.871094 0 95.929688-45.699219 95.984375-102.023437.023437-25.164063.050781-43.882813.066406-59.128906.054688-41.050782.074219-56.398438-.03125-101.585938-.054687-23.3125-18.042969-42.261719-40.105469-42.261719zm24.136719 143.886719c-.015625 15.246094-.042969 33.910156-.066406 59.074219-.046875 47.507812-35.925781 86.039062-79.984375 86.039062h-104.261719c-28.886719 0-55.617187-16.761719-69.761719-43.933593l-89.976562-172.800782 4.742188-3.898437c.101562-.085938.207031-.160157.304687-.253907 7.722656-7.265624 18.121094-10.996093 28.703125-10.289062 10.808594.828125 20.792969 6.113281 27.554688 14.589844l26.011718 31.667968c2.144532 2.609376 5.695313 3.589844 8.875 2.453126 3.179688-1.136719 5.304688-4.148438 5.308594-7.527344l.152344-217.871094c.007812-14.539062 10.957031-26.371094 24.246094-26.371094 13.285156 0 24.238281 11.835938 24.238281 26.386719v131.382813c0 .453124-.019531.90625-.019531 1.363281 0 .199219.019531.386719.019531.578125v56.183594c0 4.417968 3.582031 8 8 8s8-3.582032 8-8v-57.855469c0-14.039063 10.863281-24.804688 23.816406-24.804688h.757813c13.289062 0 24.425781 11.355469 24.425781 25.910157v51.390624c0 4.417969 3.582031 8 8 8s8-3.582031 8-8v-40.324218c0-14.550782 10.671875-26.390625 24.039062-26.390625 13.292969 0 23.960938 11.839843 23.960938 26.390625v38.042968c0 4.417969 3.582031 8 8 8s8-3.582031 8-8v-20.597656c0-14.554687 10.773437-26.421875 24.066406-26.421875h.710937c13.257813 0 24.074219 11.820313 24.105469 26.328125.105469 45.160156.085938 60.527344.03125 101.558594zm0 0"/><path d="m268.074219 79.238281h103.683593l-18.589843 18.589844c-2.070313 2.011719-2.898438 4.980469-2.164063 7.769531.734375 2.792969 2.914063 4.972656 5.707032 5.707032 2.789062.730468 5.757812-.097657 7.769531-2.167969l32.128906-32.125c3.125-3.125 3.125-8.191407 0-11.3125l-32.128906-32.125c-3.128907-3.09375-8.167969-3.078125-11.277344.03125-3.113281 3.113281-3.128906 8.152343-.035156 11.28125l18.351562 18.351562h-103.445312c-4.417969 0-8 3.582031-8 8s3.582031 8 8 8zm0 0"/><path d="m27.3125 79.238281h102.761719c4.417969 0 8-3.582031 8-8s-3.582031-8-8-8h-102.523438l18.351563-18.351562c3.09375-3.128907 3.078125-8.167969-.035156-11.28125-3.109376-3.109375-8.148438-3.125-11.277344-.03125l-32.128906 32.125c-3.121094 3.125-3.121094 8.191406 0 11.3125l32.128906 32.125c2.015625 2.042969 4.972656 2.847656 7.746094 2.109375 2.773437-.734375 4.9375-2.902344 5.675781-5.675782.738281-2.773437-.066407-5.726562-2.109375-7.746093zm0 0"/></svg>
      .diagram_m-wrap
        img(src="assets/images/axis.png", alt="axis" data-wow-delay="0.3s").diagram_m-wrap__axis.wow.fadeInUp
        img(src="assets/images/value.png", alt="value" data-wow-delay="0.3s").diagram_m-wrap__value.wow.fadeInUp
    section.diagram
      include ../common/demo.html
    section.advantage
      h1.advantage__title.wow.fadeInUp Компания ALP GROUP работает<br>на рынке IT услуг более 20 лет
      .advantage-wrap
        .advantage-block(data-wow-delay="0.5s").wow.fadeInUp
          img.advantage-block__img(src="assets/images/fingerUp.png", alt="1c")
          br
          p.advantage-block__p Достойная<br>заработаная плата
        .advantage-block(data-wow-delay="0.3s").wow.fadeInUp
          img.advantage-block__img(src="assets/images/house.png", alt="bi")
          br
          p.advantage-block__p Работа<br>рядом с домом 
        .advantage-block(data-wow-delay="0.1s").wow.fadeInUp
          img.advantage-block__img(src="assets/images/stairs.png", alt="test")
          br
          p.advantage-block__p Профессиональный<br>и карьерный рост
    section.clients
      h1.clients__title.wow.fadeInUp Наши клиенты
      .ticker
        img(src="assets/images/logos.png", alt="logos")
        img(src="assets/images/logos.png", alt="logos")
        img(src="assets/images/logos.png", alt="logos")
        img(src="assets/images/logos.png", alt="logos")
        img(src="assets/images/logos.png", alt="logos")
        img(src="assets/images/logos.png", alt="logos")
        img(src="assets/images/logos.png", alt="logos")

    section.about
      h1.about__title.wow.fadeInUp Сделай шаг навстречу успешной карьере<br>вместе с ALP Group
      .about-text.wow.fadeInUp(data-wow-delay="0.1s")
        p.about-text__top <span>Миссия компании</span> — разработка и внедрение новейших технологий автоматизации бизнеса, за счет которых наши Заказчики получают преимущества перед конкурентами.
        p.about-text__top Мы вместе создаем истории успеха.
        p.about-text__bot.wow.fadeInUp(data-wow-delay="0.3s") Компания ALP GROUP, эксперт в области разработки, внедрения и сопровождения бизнес-систем, работает на рынке  с 1996 года.  За время, прошедшее с момента создания, АЛП сумела занять лидирующие позиции на российском рынке в Enterprise сегменте. На счету ALP GROUP крупнейшие внедрение 1С в России.
      .about-advantage
        .advantage-block.wow.fadeInUp(data-wow-delay="0.3s")
          .advantage-counter
            .advantage-increment.advantage-increment1 200
            | +
          p.advantage-block__p Общее количество<br>заказчиков
        .advantage-block.wow.fadeInUp(data-wow-delay="0.1s")
          .advantage-counter
            .advantage-increment.advantage-increment2 4,8
            | /5
          p.advantage-block__p Удовлетворенность<br>заказчиков
        .advantage-block.wow.fadeInUp(data-wow-delay="0.2s")
          .advantage-counter
            .advantage-increment.advantage-increment3 400
            | +
          p.advantage-block__p Общее количество<br>сотрудников
        .advantage-block.wow.fadeInUp(data-wow-delay="0.4s")
          .advantage-counter
            .advantage-increment.advantage-increment4 250
            | +
          p.advantage-block__p Сертифицированных<br>специалистов
      .about-contacts.wow.fadeInUp
        h2.about-contacts__title.wow.fadeInUp(data-wow-delay="0.1s") Лукина Ольга
        .about-cont-wrap.wow.fadeInUp(data-wow-delay="0.3s")
          p.about-contacts__p Менеджер по обучению персонала, департамент корпоративных информационных систем
          a.about-contacts__link(href="mailto:olga.lukina@alp.ru") <br>
            img(src="assets/images/mail.png", alt="mail")
            | olga.lukina@alp.ru
          a.about-contacts__link(href="tel:88005555151") <br>
            img(src="assets/images/num.png", alt="num")
            | 8 (800) 555-51-51
          a.about-contacts__link(href="tel:+74957855151") <br>
            img(src="assets/images/tel.png", alt="tel")
            | +7 (495) 785-51-51 доб. (5665)
    .popup-trainee.white-popup.mfp-hide#trainee-form
      form(action="#", method="get")
        h1.form__title Анкета для записи на собеседование
        p.form__p Уважаемые студенты, для рассмотрения вашей кандидатуры на запись в программу профессионального развития в области разработки и тестирования «Стажерская программа», просим заполнить короткую анкету с вашими контактными данными.
        p.form__p Пожалуйста, заполните в свободной форме все поля анкеты и нажмите кнопку «Готово». Мы свяжемся с вами по указанным в анкете контактам.
        .label-wrap
          label(for="fio") Фамилия, имя и отчество полностью:
          .in-block.input_full
            input(type="text", name="fio" pattern="[А-Яа-яЁё]{10, }" required placeholder="Константин Константинович Константинопольский")
        .label-wrap
          label(for="age") Возраст:
          .in-block.in-block_age
            input(type="text", name="age" required placeholder="20 лет")
        .label-wrap
          label(for="tel") Телефон:
          .in-block.in-block_tel
            input(type="tel", name="tel" required placeholder="+7 800 700-06-11")
        .label-wrap
          label(for="mail") Адрес электронной почты:
          .in-block.input_full
            input(type="email", name="mail" required placeholder="info@mail.ru")
        .label-wrap
          label(for="uni") Название университета:
          .in-block.input_full
            input(type="text", name="uni" required)
        .label-wrap
          label(for="uni") Специальность, курс:
          .in-block.input_full
            input(type="text", name="uni" required)
        .label-wrap
          label(for="form-study") Форма обучения:
          .in-block
            select(name="form-study" required)
              option(value="Дистанционная" selected) Дистанционная
              option(value="Очная") Очная
              option(value="Заочная") Заочная
              option(value="Вечерняя" ) Вечерняя
        .label-wrap
          label(for="ball") Средний балл зачетной книжки
          .in-block.in-block_ball
            input(type="text", name="ball" required placeholder="12")
        .label-wrap
          label(for="lvlComp") Уровень владения компьютером:
          .in-block
            select(name="lvlComp" required) 
              option(value="Системный администратор" selected) Системный администратор
              option(value="Не системный администратор") Не системный администратор
        .label-wrap
          label(for="lblEnglish") Уровень владения английским языком:
          .in-block
            select(name="lblEnglish" required)
              option(value="Pre-Intermediate" selected) Pre-Intermediate
              option(value="Intermediate") Intermediate
              option(value="Upper-Intermediate") Upper-Intermediate
        .label-wrap
          label(for="lvlComp") Отношение к воинской службе:
          .in-block
            select(name="lvlComp" required)
              option(value="Не подлежу призыву" selected) Не подлежу призыву
              option(value="Годен") Годен
        .label-wrap.label-wrap_full
          label(for="int-les") Укажите 3 наиболее интересных предмета для вас в ВУЗе:
          .in-block
            input(type="text", name="int-les" required)        
        .label-wrap.label-wrap_full
          label(for="notInt-les") Укажите 3 наименее интересных предмета для вас в ВУЗе:
          .in-block
            input(type="text", name="notInt-les" required) 
        .label-wrap.label-wrap_full
          label(for="dopCourse") Дополнительное образование, курсы:
          .in-block
            textarea(name="dopCourse")
        .label-wrap.label-wrap_full
          label(for="olimpiada") Достижения (участие в Олимпиадах, конкурсах, получение наград, грантов и т.д.):
          .in-block
            textarea(name="olimpiada")
        .label-wrap.label-wrap_full
          label(for="hobby") Ваши увлечения, хобби:
          .in-block
            textarea(name="hobby" required)
        .label-wrap.label-wrap_full
          label(for="about1c") Что вы знаете про 1С?
          .in-block
            textarea(name="about1c" required)
        .label-wrap.label-wrap_full
          label(for="aboutALP") Что вы ожидаете от прохождения стажировки в ALP Group?
          .in-block
            textarea(name="aboutALP" required)
        .label-wrap.label-wrap_full
          label(for="aboutTraine") На что, по вашему мнению, стоит обратить внимание при рассмотрении вашей кандидатуры?
          .in-block
            textarea(name="aboutTraine" required)
        .label-wrap.label-wrap_full
          label(for="whenReady") С какого времени готовы приступить к стажировке?
          .in-block
            textarea(name="whenReady" required)
        .submit-block
          input(type="submit", value="Отправить анкету")
          p.submit-block__p Нажимая на кнопку «Отправить», вы соглашаетесь<br>с 
            a(href="#") политикой конфиденциальности
          
        
        

    script(src="assets/scripts/jquery.min.js")
    script(src="assets/scripts/slick.min.js")
    script(src="assets/scripts/spincrement.min.js")
    script(src="assets/scripts/wow.min.js")
    script(src="assets/scripts/magnific.min.js")
    script(src="assets/scripts/inputmask.min.js")
    script(src="assets/scripts/main.js")
      