<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="assets/styles/app.min.css")
    script(src="assets/scripts/jquery.min.js")
    script(src="assets/scripts/main.js")
    title Сравнение лицензий
  body
    mixin yes()
      svg(width='17', height='13', viewbox='0 0 17 13', fill='none', xmlns='http://www.w3.org/2000/svg')
        path(d='M2 5.28205L6.71795 10L14.7179 2', stroke='#E01839', stroke-width='3', stroke-linecap='round')
    section.main
      section.compare
        .compare-top
          h1.compare-top__title Лицензии <span class="compare-top__title_bold"><span class="compare-top__title_red">1С</span>-Битрикс</span>
          div(data-compare-condition="first").compare-top__btn Сравнить лицензии
        .compare-main(data-compare-main-condition="first")
          .compare-main-wrap
            .compare-main-wrap-top
              .compare-main-wrap-top__title CMS
              .compare-main-wrap-top__subtitle Здесь представлен список модулей, которые входят в данную лицензию и сравниваются с другими
            .compare-main-wrap-container
              .compare-main-wrap-container-th
                .compare-main-wrap-container__td.compare-main-wrap-container__td0
                .compare-main-wrap-container__td Старт
                .compare-main-wrap-container__td Стандарт
                .compare-main-wrap-container__td Малый бизнес
                .compare-main-wrap-container__td Бизнес
                .compare-main-wrap-container__td Энтерпрайз
              .compare-main-wrap-container-tr
                .compare-main-wrap-container__td.compare-main-wrap-container__td0 Цена
                .compare-main-wrap-container__td 5400 руб.
                .compare-main-wrap-container__td 15900 руб.
                .compare-main-wrap-container__td 35900 руб.
                .compare-main-wrap-container__td 72900 руб.
                .compare-main-wrap-container__td Индивидуально
              .compare-main-wrap-container-tr
                .compare-main-wrap-container__td.compare-main-wrap-container__td0 CMS
                .compare-main-wrap-container__td 
                  +yes
                .compare-main-wrap-container__td 
                  +yes
                .compare-main-wrap-container__td 
                  +yes
                .compare-main-wrap-container__td 
                  +yes
                .compare-main-wrap-container__td 
                  +yes
              .compare-main-wrap-container-tr
                .compare-main-wrap-container__td.compare-main-wrap-container__td0 Главный модуль
                .compare-main-wrap-container__td 
                  +yes
                .compare-main-wrap-container__td 
                  +yes
                .compare-main-wrap-container__td 
                  +yes
                .compare-main-wrap-container__td 
                  +yes
                .compare-main-wrap-container__td 
                  +yes
              .compare-main-wrap-container-tr
                .compare-main-wrap-container__td.compare-main-wrap-container__td0 Сайты24
                .compare-main-wrap-container__td 
                  +yes
                .compare-main-wrap-container__td 
                  +yes
                .compare-main-wrap-container__td 
                  +yes
                .compare-main-wrap-container__td 
                  +yes
                .compare-main-wrap-container__td 
                  +yes
              .compare-main-wrap-container-tr
                .compare-main-wrap-container__td.compare-main-wrap-container__td0 Число сайтов
                .compare-main-wrap-container__td 2
                .compare-main-wrap-container__td ∞
                .compare-main-wrap-container__td ∞
                .compare-main-wrap-container__td ∞
                .compare-main-wrap-container__td ∞
              .compare-main-wrap-container-tr
                .compare-main-wrap-container__td.compare-main-wrap-container__td0 Число страниц
                .compare-main-wrap-container__td ∞
                .compare-main-wrap-container__td ∞
                .compare-main-wrap-container__td ∞
                .compare-main-wrap-container__td ∞
                .compare-main-wrap-container__td ∞
              .compare-main-wrap-container-tr
                .compare-main-wrap-container__td.compare-main-wrap-container__td0 Управление структурой
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td
                  +yes
              .compare-main-wrap-container-tr
                .compare-main-wrap-container__td.compare-main-wrap-container__td0 Информационные блоки
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td
                  +yes
              .compare-main-wrap-container-tr
                .compare-main-wrap-container__td.compare-main-wrap-container__td0 Highload-блоки
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td
                  +yes
              .compare-main-wrap-container-tr
                .compare-main-wrap-container__td.compare-main-wrap-container__td0 Поиск
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td
                  +yes
              .compare-main-wrap-container-tr
                .compare-main-wrap-container__td.compare-main-wrap-container__td0 Перевод
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td
                  +yes
              .compare-main-wrap-container-tr
                .compare-main-wrap-container__td.compare-main-wrap-container__td0 Форумы
                .compare-main-wrap-container__td
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td
                  +yes
              .compare-main-wrap-container-tr
                .compare-main-wrap-container__td.compare-main-wrap-container__td0 Блоги
                .compare-main-wrap-container__td
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td
                  +yes
              .compare-main-wrap-container-tr
                .compare-main-wrap-container__td.compare-main-wrap-container__td0 Социальная сеть
                .compare-main-wrap-container__td
                .compare-main-wrap-container__td
                .compare-main-wrap-container__td
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td
                  +yes
              .compare-main-wrap-container-tr
                .compare-main-wrap-container__td.compare-main-wrap-container__td0 Обучение, тестирование
                .compare-main-wrap-container__td
                .compare-main-wrap-container__td
                .compare-main-wrap-container__td
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td
                  +yes
              .compare-main-wrap-container-tr
                .compare-main-wrap-container__td.compare-main-wrap-container__td0 Веб-мессенджер
                .compare-main-wrap-container__td
                .compare-main-wrap-container__td
                .compare-main-wrap-container__td
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td
                  +yes
              .compare-main-wrap-container-tr
                .compare-main-wrap-container__td.compare-main-wrap-container__td0 Бизнес-процессы
                .compare-main-wrap-container__td
                .compare-main-wrap-container__td
                .compare-main-wrap-container__td
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td
                  +yes
              .compare-main-wrap-container-tr
                .compare-main-wrap-container__td.compare-main-wrap-container__td0 Почта
                .compare-main-wrap-container__td
                .compare-main-wrap-container__td
                .compare-main-wrap-container__td
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td
                  +yes
              .compare-main-wrap-container-tr
                .compare-main-wrap-container__td.compare-main-wrap-container__td0 Техподдержка
                .compare-main-wrap-container__td
                .compare-main-wrap-container__td
                .compare-main-wrap-container__td
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td
                  +yes
              .compare-main-wrap-container-tr
                .compare-main-wrap-container__td.compare-main-wrap-container__td0 Календари
                .compare-main-wrap-container__td
                .compare-main-wrap-container__td
                .compare-main-wrap-container__td
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td
                  +yes
              .compare-main-wrap-container-tr
                .compare-main-wrap-container__td.compare-main-wrap-container__td0 Документооборот
                .compare-main-wrap-container__td
                .compare-main-wrap-container__td
                .compare-main-wrap-container__td
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td
                  +yes
              .compare-main-wrap-container-tr
                .compare-main-wrap-container__td.compare-main-wrap-container__td0 AD/LDAP интеграция
                .compare-main-wrap-container__td
                .compare-main-wrap-container__td
                .compare-main-wrap-container__td
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td
                  +yes
              .compare-main-wrap-container-tr
                .compare-main-wrap-container__td.compare-main-wrap-container__td0 Универсальные списки
                .compare-main-wrap-container__td
                .compare-main-wrap-container__td
                .compare-main-wrap-container__td
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td
                  +yes
              .compare-main-wrap-container-tr
                .compare-main-wrap-container__td.compare-main-wrap-container__td0 Контролллер сайтов
                .compare-main-wrap-container__td
                .compare-main-wrap-container__td
                .compare-main-wrap-container__td
                .compare-main-wrap-container__td
                .compare-main-wrap-container__td
                  +yes
          .compare-main-wrap
            .compare-main-wrap-top
              .compare-main-wrap-top__title Интернет-магазин
              .compare-main-wrap-top__subtitle Здесь представлен список модулей, которые входят в данную лицензию и сравниваются с другими
            .compare-main-wrap-container
              .compare-main-wrap-container-th
                .compare-main-wrap-container__td.compare-main-wrap-container__td0
                .compare-main-wrap-container__td Старт
                .compare-main-wrap-container__td Стандарт
                .compare-main-wrap-container__td Малый бизнес
                .compare-main-wrap-container__td Бизнес
                .compare-main-wrap-container__td Энтерпрайз
              .compare-main-wrap-container-tr
                .compare-main-wrap-container__td.compare-main-wrap-container__td0 Интернет-магазин
                .compare-main-wrap-container__td 
                .compare-main-wrap-container__td 
                .compare-main-wrap-container__td Базовая
                .compare-main-wrap-container__td Расширенная
                .compare-main-wrap-container__td Расширенная
              .compare-main-wrap-container-tr
                .compare-main-wrap-container__td.compare-main-wrap-container__td0 Торговый каталог
                .compare-main-wrap-container__td 
                .compare-main-wrap-container__td 
                .compare-main-wrap-container__td 
                  +yes
                .compare-main-wrap-container__td 
                  +yes
                .compare-main-wrap-container__td 
                  +yes
              .compare-main-wrap-container-tr
                .compare-main-wrap-container__td.compare-main-wrap-container__td0 Интеграция с CRM
                .compare-main-wrap-container__td 
                .compare-main-wrap-container__td
                .compare-main-wrap-container__td 
                .compare-main-wrap-container__td 
                  +yes
                .compare-main-wrap-container__td 
                  +yes
              .compare-main-wrap-container-tr
                .compare-main-wrap-container__td.compare-main-wrap-container__td0 Мастер управления магазином
                .compare-main-wrap-container__td 
                .compare-main-wrap-container__td 
                .compare-main-wrap-container__td 
                .compare-main-wrap-container__td 
                  +yes
                .compare-main-wrap-container__td 
                  +yes
              .compare-main-wrap-container-tr
                .compare-main-wrap-container__td.compare-main-wrap-container__td0 Складской учет
                .compare-main-wrap-container__td 
                .compare-main-wrap-container__td 
                .compare-main-wrap-container__td 1 склад
                .compare-main-wrap-container__td Неограничено
                .compare-main-wrap-container__td Неограничено
              .compare-main-wrap-container-tr
                .compare-main-wrap-container__td.compare-main-wrap-container__td0 Валюты
                .compare-main-wrap-container__td 
                .compare-main-wrap-container__td 
                .compare-main-wrap-container__td 
                  +yes
                .compare-main-wrap-container__td 
                  +yes
                .compare-main-wrap-container__td 
                  +yes
              .compare-main-wrap-container-tr
                .compare-main-wrap-container__td.compare-main-wrap-container__td0 Конструктор отчетов
                .compare-main-wrap-container__td
                .compare-main-wrap-container__td
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td
                  +yes
              .compare-main-wrap-container-tr
                .compare-main-wrap-container__td.compare-main-wrap-container__td0 Разделение заказов между филиалами компании
                .compare-main-wrap-container__td
                .compare-main-wrap-container__td
                .compare-main-wrap-container__td
                .compare-main-wrap-container__td
                .compare-main-wrap-container__td
                  +yes 
          .compare-main-wrap
            .compare-main-wrap-top
              .compare-main-wrap-top__title Поддержка и консалтинг 1С-Битрикс
              .compare-main-wrap-top__subtitle Здесь представлен список модулей, которые входят в данную лицензию и сравниваются с другими
            .compare-main-wrap-container
              .compare-main-wrap-container-th
                .compare-main-wrap-container__td.compare-main-wrap-container__td0
                .compare-main-wrap-container__td Старт
                .compare-main-wrap-container__td Стандарт
                .compare-main-wrap-container__td Малый бизнес
                .compare-main-wrap-container__td Бизнес
                .compare-main-wrap-container__td Энтерпрайз
              .compare-main-wrap-container-tr
                .compare-main-wrap-container__td.compare-main-wrap-container__td0 Время реакции в техподдержке
                .compare-main-wrap-container__td 6 часов
                .compare-main-wrap-container__td 6 часов
                .compare-main-wrap-container__td 6 часов
                .compare-main-wrap-container__td 6 часов
                .compare-main-wrap-container__td 2 часа
              .compare-main-wrap-container-tr
                .compare-main-wrap-container__td.compare-main-wrap-container__td0 VIP-поддержка 24/7
                .compare-main-wrap-container__td 
                .compare-main-wrap-container__td 
                .compare-main-wrap-container__td 
                .compare-main-wrap-container__td 
                .compare-main-wrap-container__td 
                  +yes
              .compare-main-wrap-container-tr
                .compare-main-wrap-container__td.compare-main-wrap-container__td0 Аудит производительности от 1С-Битрикс
                .compare-main-wrap-container__td 
                .compare-main-wrap-container__td
                .compare-main-wrap-container__td 
                .compare-main-wrap-container__td 
                .compare-main-wrap-container__td 
                  +yes
              .compare-main-wrap-container-tr
                .compare-main-wrap-container__td.compare-main-wrap-container__td0 Сопровождение проекта от 1С-Битрикс
                .compare-main-wrap-container__td 
                .compare-main-wrap-container__td 
                .compare-main-wrap-container__td 
                .compare-main-wrap-container__td 
                .compare-main-wrap-container__td 
                  +yes
          .compare-main-wrap
            .compare-main-wrap-top
              .compare-main-wrap-top__title Маркетинг
              .compare-main-wrap-top__subtitle Здесь представлен список модулей, которые входят в данную лицензию и сравниваются с другими
            .compare-main-wrap-container
              .compare-main-wrap-container-th
                .compare-main-wrap-container__td.compare-main-wrap-container__td0
                .compare-main-wrap-container__td Старт
                .compare-main-wrap-container__td Стандарт
                .compare-main-wrap-container__td Малый бизнес
                .compare-main-wrap-container__td Бизнес
                .compare-main-wrap-container__td Энтерпрайз
              .compare-main-wrap-container-tr
                .compare-main-wrap-container__td.compare-main-wrap-container__td0 SEO-модуль
                .compare-main-wrap-container__td 
                  +yes
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td 
                  +yes
              .compare-main-wrap-container-tr
                .compare-main-wrap-container__td.compare-main-wrap-container__td0 Социальные сервисы
                .compare-main-wrap-container__td 
                  +yes
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td 
                  +yes
              .compare-main-wrap-container-tr
                .compare-main-wrap-container__td.compare-main-wrap-container__td0 Интеграция с Битрикс24
                .compare-main-wrap-container__td 
                  +yes
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td 
                  +yes
              .compare-main-wrap-container-tr
                .compare-main-wrap-container__td.compare-main-wrap-container__td0 Веб-формы
                .compare-main-wrap-container__td 
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td 
                  +yes
              .compare-main-wrap-container-tr
                .compare-main-wrap-container__td.compare-main-wrap-container__td0 Опросы
                .compare-main-wrap-container__td 
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td 
                  +yes
              .compare-main-wrap-container-tr
                .compare-main-wrap-container__td.compare-main-wrap-container__td0 Подписка и рассылки
                .compare-main-wrap-container__td 
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td 
                  +yes
              .compare-main-wrap-container-tr
                .compare-main-wrap-container__td.compare-main-wrap-container__td0 A/B тестирование
                .compare-main-wrap-container__td 
                .compare-main-wrap-container__td
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td 
                  +yes
              .compare-main-wrap-container-tr
                .compare-main-wrap-container__td.compare-main-wrap-container__td0 E-mail маркетинг
                .compare-main-wrap-container__td 
                .compare-main-wrap-container__td
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td 
                  +yes
              .compare-main-wrap-container-tr
                .compare-main-wrap-container__td.compare-main-wrap-container__td0 Реклама
                .compare-main-wrap-container__td 
                .compare-main-wrap-container__td
                .compare-main-wrap-container__td
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td 
                  +yes
              .compare-main-wrap-container-tr
                .compare-main-wrap-container__td.compare-main-wrap-container__td0 Веб-аналитика
                .compare-main-wrap-container__td 
                .compare-main-wrap-container__td
                .compare-main-wrap-container__td
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td 
                  +yes
          .compare-main-wrap
            .compare-main-wrap-top
              .compare-main-wrap-top__title Производительность
              .compare-main-wrap-top__subtitle Здесь представлен список модулей, которые входят в данную лицензию и сравниваются с другими
            .compare-main-wrap-container
              .compare-main-wrap-container-th
                .compare-main-wrap-container__td.compare-main-wrap-container__td0
                .compare-main-wrap-container__td Старт
                .compare-main-wrap-container__td Стандарт
                .compare-main-wrap-container__td Малый бизнес
                .compare-main-wrap-container__td Бизнес
                .compare-main-wrap-container__td Энтерпрайз
              .compare-main-wrap-container-tr
                .compare-main-wrap-container__td.compare-main-wrap-container__td0 Композитный сайт
                .compare-main-wrap-container__td 
                  +yes
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td 
                  +yes
              .compare-main-wrap-container-tr
                .compare-main-wrap-container__td.compare-main-wrap-container__td0 Компрессия
                .compare-main-wrap-container__td 
                  +yes
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td 
                  +yes
              .compare-main-wrap-container-tr
                .compare-main-wrap-container__td.compare-main-wrap-container__td0 Ежемесячный трафик CDN: 
                .compare-main-wrap-container__td 5 гб
                .compare-main-wrap-container__td 10 гб
                .compare-main-wrap-container__td 20 гб
                .compare-main-wrap-container__td 40 гб
                .compare-main-wrap-container__td ∞
              .compare-main-wrap-container-tr
                .compare-main-wrap-container__td.compare-main-wrap-container__td0 Допустимое число серверов
                .compare-main-wrap-container__td 1
                .compare-main-wrap-container__td 1
                .compare-main-wrap-container__td 1
                .compare-main-wrap-container__td 1
                .compare-main-wrap-container__td от 4
              .compare-main-wrap-container-tr
                .compare-main-wrap-container__td.compare-main-wrap-container__td0 Монитор производительности
                .compare-main-wrap-container__td 
                  +yes
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td 
                  +yes
              .compare-main-wrap-container-tr
                .compare-main-wrap-container__td.compare-main-wrap-container__td0 Визуальное масштабирование
                .compare-main-wrap-container__td 
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td 
                  +yes
              .compare-main-wrap-container-tr
                .compare-main-wrap-container__td.compare-main-wrap-container__td0 Пульс конверсии
                .compare-main-wrap-container__td 
                .compare-main-wrap-container__td
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td 
                  +yes
              .compare-main-wrap-container-tr
                .compare-main-wrap-container__td.compare-main-wrap-container__td0 Модуль "Веб-кластер"
                .compare-main-wrap-container__td 
                .compare-main-wrap-container__td
                .compare-main-wrap-container__td
                .compare-main-wrap-container__td
                .compare-main-wrap-container__td 
                  +yes
              .compare-main-wrap-container-tr
                .compare-main-wrap-container__td.compare-main-wrap-container__td0 Балансировка нагрузки между серверами
                .compare-main-wrap-container__td 
                .compare-main-wrap-container__td
                .compare-main-wrap-container__td
                .compare-main-wrap-container__td
                .compare-main-wrap-container__td 
                  +yes
              .compare-main-wrap-container-tr
                .compare-main-wrap-container__td.compare-main-wrap-container__td0 Отказоустойчивость на уровне кластера серверов
                .compare-main-wrap-container__td 
                .compare-main-wrap-container__td
                .compare-main-wrap-container__td
                .compare-main-wrap-container__td
                .compare-main-wrap-container__td 
                  +yes
              .compare-main-wrap-container-tr
                .compare-main-wrap-container__td.compare-main-wrap-container__td0 Географически распределенный кластер
                .compare-main-wrap-container__td 
                .compare-main-wrap-container__td
                .compare-main-wrap-container__td
                .compare-main-wrap-container__td
                .compare-main-wrap-container__td 
                  +yes
              .compare-main-wrap-container-tr
                .compare-main-wrap-container__td.compare-main-wrap-container__td0 Автоматическое масштабирование
                .compare-main-wrap-container__td 
                .compare-main-wrap-container__td
                .compare-main-wrap-container__td
                .compare-main-wrap-container__td
                .compare-main-wrap-container__td 
                  +yes
          .compare-main-wrap
            .compare-main-wrap-top
              .compare-main-wrap-top__title Безопасность и мобильность
              .compare-main-wrap-top__subtitle Здесь представлен список модулей, которые входят в данную лицензию и сравниваются с другими
            .compare-main-wrap-container
              .compare-main-wrap-container-th
                .compare-main-wrap-container__td.compare-main-wrap-container__td0
                .compare-main-wrap-container__td Старт
                .compare-main-wrap-container__td Стандарт
                .compare-main-wrap-container__td Малый бизнес
                .compare-main-wrap-container__td Бизнес
                .compare-main-wrap-container__td Энтерпрайз
              .compare-main-wrap-container-tr
                .compare-main-wrap-container__td.compare-main-wrap-container__td0 Облачные хранилища
                .compare-main-wrap-container__td 
                  +yes
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td 
                  +yes
              .compare-main-wrap-container-tr
                .compare-main-wrap-container__td.compare-main-wrap-container__td0 Автоматический бекап в облако
                .compare-main-wrap-container__td 2 гб
                .compare-main-wrap-container__td 2 гб
                .compare-main-wrap-container__td 4 гб
                .compare-main-wrap-container__td 10 гб
                .compare-main-wrap-container__td ∞
              .compare-main-wrap-container-tr
                .compare-main-wrap-container__td.compare-main-wrap-container__td0 Маркетплейс
                .compare-main-wrap-container__td 
                  +yes
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td 
                  +yes
              .compare-main-wrap-container-tr
                .compare-main-wrap-container__td.compare-main-wrap-container__td0 Защита от DDOS
                .compare-main-wrap-container__td 
                  +yes
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td 
                  +yes
              .compare-main-wrap-container-tr
                .compare-main-wrap-container__td.compare-main-wrap-container__td0 Базы данных
                .compare-main-wrap-container__td MySQL
                .compare-main-wrap-container__td MySQL
                .compare-main-wrap-container__td MySQL 
                .compare-main-wrap-container__td MySQL
                .compare-main-wrap-container__td MySQL
              .compare-main-wrap-container-tr
                .compare-main-wrap-container__td.compare-main-wrap-container__td0 Проактивная защита
                .compare-main-wrap-container__td 
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td 
                  +yes
              .compare-main-wrap-container-tr
                .compare-main-wrap-container__td.compare-main-wrap-container__td0 Мобильная платформа
                .compare-main-wrap-container__td 
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td 
                  +yes
              .compare-main-wrap-container-tr
                .compare-main-wrap-container__td.compare-main-wrap-container__td0 Мобильное приложение интернет-магазина
                .compare-main-wrap-container__td 
                .compare-main-wrap-container__td
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td 
                  +yes
              .compare-main-wrap-container-tr
                .compare-main-wrap-container__td.compare-main-wrap-container__td0 Технология Push & Pull
                .compare-main-wrap-container__td 
                .compare-main-wrap-container__td
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td
                  +yes
                .compare-main-wrap-container__td 
                  +yes
        .compare-bot
          h3.compare-bot__title Остались вопросы?
          .compare-bot-container
            .compare-bot-container-wrap
              img(src="assets/images/mail-big-img.svg", alt="").compare-bot-container-wrap__img
            form(action="", method="get").compare-bot-container-form
              h4.compare-bot-container-form__title Пишите, мы ответим
              .compare-bot-container-form-wrap
                input#telephone-input(type="tel", name="telephone-in" placeholder="Телефон").input-half
                input#email-input(type="email", name="email-in" placeholder="E-mail").input-half
                textarea#textarea-input(name="textarea-in" placeholder="Сообщение").textarea-full
                .submit
                  input(type="submit", value="Связаться").submit__btn
                  p.submit__conf Отправляя личные данные, Вы соглашаетесь с политикой конфиденциальности

  
        

