extends ../common/main.pug
block title
  title Карточка товара 
block content
    .page.item-card
        .breadcrumbs
            a(href="").breadcrumbs-item Главная
            a(href="").breadcrumbs-item Каталог
            a(href="").breadcrumbs-item Древняя Греция
            a(href="").breadcrumbs-item Греция и Сицилия
            a(href="").breadcrumbs-item Gordian I Africanus. Sestertius
        .item-card-main-block-wrapper
            .item-card-main-block
                .item-card-main-block-slider
                    .item-card-main-block-slider-item
                        img(src="assets/images/slider-item.png", alt="")
                    .item-card-main-block-slider-item
                        img(src="assets/images/slider-item.png", alt="")
                    .item-card-main-block-slider-item
                        img(src="assets/images/slider-item.png", alt="")
                    .item-card-main-block-slider-item
                        img(src="assets/images/slider-item.png", alt="")
                .item-card-main-block-description
                    .item-card-main-block-description__header
                        span Описание:
                    .item-card-main-block-description__main-text
                        span Zeugitania, Carthage; c. 350-320 BC,
                            | Stater, 9.31g. Jenkins-Group IIIf, 37.
                            | Obv: Head of Tanit l., wreathed with wheat,
                            | wearing necklace of pendants and triple-drop earring.
                            | Rx: Horse standing r. on exergual line; group
                            | of three small pellets before.The gold staters
                            | of Carthage are far more artistic and struck
                            | in higher relief than the electrum staters.
                            | This is no exception . Choice EF
                .item-card-main-block-title
                    .item-card-main-block-title-header
                        span Gordian I Africanus. Sestertius
                        <svg width="30" height="28" viewBox="0 0 30 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15 1.26414L18.5965 9.61555L18.7139 9.88823L19.0095 9.91565L28.0636 10.7554L21.2323 16.7566L21.0092 16.9525L21.0745 17.2421L23.0737 26.1125L15.2553 21.4701L15 21.3185L14.7447 21.4701L6.92626 26.1125L8.92548 17.2421L8.99075 16.9525L8.7677 16.7566L1.93642 10.7554L10.9905 9.91565L11.2861 9.88823L11.4035 9.61555L15 1.26414Z" stroke="#C69A60"/>
                        </svg>
                    .item-card-main-block-title-main-content
                        .item-card-main-block-title-main-content__img
                            img.coin-size(src="assets/images/coin-size.svg", alt="")
                            img.coin-line(src="assets/images/coin-size-line.svg", alt="")
                            span 25 мм
                        .item-card-main-block-title-main-content__properties
                            .item-card-main-block-title-main-content__properties-row
                                .item-card-main-block-title-main-content__properties-row-key
                                    span Страна:
                                .item-card-main-block-title-main-content__properties-row-value
                                    span Древняя Греция
                            .item-card-main-block-title-main-content__properties-row
                                .item-card-main-block-title-main-content__properties-row-key
                                    span Время:
                                .item-card-main-block-title-main-content__properties-row-value
                                    span 5 век до н.э.
                            .item-card-main-block-title-main-content__properties-row
                                .item-card-main-block-title-main-content__properties-row-key
                                    span Материал: 
                                .item-card-main-block-title-main-content__properties-row-value
                                    span Золото
                    .item-card-main-block-title-footer
                        .item-card-main-block-title-footer-row
                            a(href="").item-card-main-block-title-footer-row__add-to-card-link
                                span Добавить в корзину
                            span.item-card-main-block-title-footer-row__price-text 7 500 руб.
                        .item-card-main-block-title-footer-row
                            a(href="").item-card-main-block-title-footer-row__add-to-card-link--transparent
                                span Остались вопросы?
        .item-card-popular-items
            .item-card-popular-items-header
                span Вместе с этим смотрят
            .item-card-popular-items-content
                .catalog-main-item(data-favourites="0" data-new="0" data-ex="0")
                    .catalog-main-item__img(style="background-image:url(assets/images/popular-item-card.png);")
                    .catalog-main-item__title Gordian I Africanus. Sestertius
                    .catalog-main-item__price 
                        span 125 500 
                        | руб.
                    a(href="item-card.html").catalog-main-item__more Узнать подробнее
                    .fav-star
                    img(src="assets/images/new-item.svg", alt="").catalog-main-item__new.marker
                    img(src="assets/images/ex-item.svg", alt="").catalog-main-item__ex.marker
                .catalog-main-item(data-favourites="0" data-new="0" data-ex="0")
                    .catalog-main-item__img(style="background-image:url(assets/images/popular-item-card-2.png);")
                    .catalog-main-item__title Gordian I Africanus. Sestertius
                    .catalog-main-item__price 
                        span 125 500 
                        | руб.
                    a(href="item-card.html").catalog-main-item__more Узнать подробнее
                    .fav-star
                    img(src="assets/images/new-item.svg", alt="").catalog-main-item__new.marker
                    img(src="assets/images/ex-item.svg", alt="").catalog-main-item__ex.marker
                .catalog-main-item(data-favourites="0" data-new="0" data-ex="0")
                    .catalog-main-item__img
                    .catalog-main-item__title Gordian I Africanus. Sestertius
                    .catalog-main-item__price 
                        span 125 500 
                        | руб.
                    a(href="item-card.html").catalog-main-item__more Узнать подробнее
                    .fav-star
                    img(src="assets/images/new-item.svg", alt="").catalog-main-item__new.marker
                    img(src="assets/images/ex-item.svg", alt="").catalog-main-item__ex.marker










