a(href="404.html") 404<br>
a(href="index.html") Главная<br>
a(href="article.html") Статья<br>
a(href="article1.html") Статья1<br>
a(href="auction.html") Аукцион<br>
a(href="auction-item.html") Аукцион<br>
a(href="blog.html") Блог<br>
a(href="catalog1.html") Каталог1<br>
a(href="catalog2.html") Каталог2<br>
a(href="favourites.html") Избранное<br>
a(href="lk.html") Личный кабинет (Не сверстал)<br>
a(href="login.html") Вход<br>
a(href="registration.html") Регистрация<br>
a(href="item-card.html") Item-card<br>