extends ../common/main.pug
block title
  title Личный кабинет
block content
  .wrapper.lk
    .head.head_flex-start
      .breadcrumb
        a(href="#").breadcrumb__link Главная
        a(href="#").breadcrumb__link Личный кабинет
    .lk-main вфыв
