extends ../common/main.pug
block title
  title Регистрация
block content
  .wrapper.login.registration
    .head
      .breadcrumb
        a(href="#").breadcrumb__link Главная
        a(href="#").breadcrumb__link Регистрация
    h1.gen-title Регистрация
    p.login__subtitle 
      <svg width="22" height="23" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M10 13C7.176 13 4.671 13.638 3.025 14.193C1.81 14.604 1 15.749 1 17.032V21C1 21 10.958 21 11 21" stroke="black" stroke-width="2"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M10 13V13C7.239 13 5 9.761 5 7V6C5 3.239 7.239 1 10 1V1C12.761 1 15 3.239 15 6V7C15 9.761 12.761 13 10 13Z" stroke="black" stroke-width="2" stroke-linecap="square"/>
        <path d="M18 16V22" stroke="black" stroke-width="2" stroke-linecap="square"/>
        <path d="M15 19H21" stroke="black" stroke-width="2" stroke-linecap="square"/>
      </svg>
      | Создать аккаунт
    form(action="", method="get").auth
      input#login_email(type="email", name="login-email" placeholder="E-mail")
      input#login_pass(type="password", name="login-pass" placeholder="Пароль")
      input#login_pass-repeat(type="password", name="login-pass-repeat" placeholder="Повторить пароль")
      button(type="submit") Регистрация
    a(href="login.html").makeAccount 
      <svg width="22" height="23" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M10 13C7.176 13 4.671 13.638 3.025 14.193C1.81 14.604 1 15.749 1 17.032V21C1 21 10.958 21 11 21" stroke="#969696" stroke-width="2"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M10 13V13C7.239 13 5 9.761 5 7V6C5 3.239 7.239 1 10 1V1C12.761 1 15 3.239 15 6V7C15 9.761 12.761 13 10 13Z" stroke="#969696" stroke-width="2" stroke-linecap="square"/>
        <path d="M18 16V22" stroke="#969696" stroke-width="2" stroke-linecap="square"/>
        <path d="M15 19H21" stroke="#969696" stroke-width="2" stroke-linecap="square"/>
      </svg>
      | Авторизация