.search-block_auction{
  max-width: 612px;
  @include w1024{
    margin: 30px auto 10px;
    max-width: 478px;
  }
  @include w480{
    width: calc(100% - 20px);
    margin: 30px 10px 20px;
  }
}
.lots{
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px 80px;
  box-sizing: border-box;
  @include w1024{
    padding: 0 20px 20px;
  }
  @include w480{
    padding: 0 10px 20px;;
  }
  &-wrap{
    margin: 0 -10px;
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 20px);
    @include w480{
      width: 100%;
      margin: 0;
      flex-direction: column;
    }
  }
  &-item{
    margin: 10px;
    width: calc(100% / 3 - 20px);
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    border-radius: 5px;
    @include w1024{
      width: calc(50% - 20px);
      margin: 0;
      &:not(:last-child){
        margin-bottom: 20px;
      }
      &:last-child{
        margin-bottom: 4px;
      }
    }
    @include w480{
      width: 100%;
    }
    &__img{
      width: 100%;
      background-image: url('../images/moneta-a.png');
      background-size: cover;
      background-repeat: no-repeat;
    }
    &__title{
      font-weight: bold;
      font-size: 18px;
      line-height: 25px;
      padding-bottom: 15px;
      @include w480{
        font-size: 14px;
        line-height: 19px;
        padding-bottom: 7px;
      }
    }
    &__num{
      font-size: 14px;
      line-height: 19px;
      @include w1024{
        font-size: 12px;
        margin-bottom: 37px;
      }
      @include w480{
        margin-bottom: 27px;
      }
    }
    &-desc{
      padding: 24px 20px 20px;
      @include w1024{
        padding: 15px 10px 20px 10px;
      }
    }
    &-prew{
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      @include w1024{
        flex-direction: column;
        align-items: flex-start;
      }
      &-half{
        width: calc(50% - 10px);
        @include w1024{
          width: 100%;
          &1{
            margin-bottom: 37px;
          }
          &2{
            display: flex;
            align-items: flex-end;
          }
        }
        @include w480{
          &1{
            margin-bottom: 27px;
          }
          &2{
            flex-direction: column;
            align-items: flex-start;
          }
        }
        a{
          display: block;
        }
      }
      &__p{
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        span{
          font-weight: normal;
          margin-left: 10px;
        }
      }
      &__current-rate, &__rate{
        margin-top: 15px;
      }
      &__finish{
        font-size: 10px;
        line-height: 14px;
        margin-top: 5px;
        @include w1024{
          margin-top: 0;
        }
      }
      &__finish-time{
        margin-top: 15px;
        display: flex;
        font-size: 14px;
        font-weight: 600;
        p{
          font-weight: 600;
          font-size: 14px;
          line-height: 19px;    
          display: flex;
          align-items: flex-end;
          span {
            font-weight: normal;
            display: block;
            font-size: 10px;
            line-height: 14px;
            margin-left: 4px;
          } 
          &:not(:last-child){
            margin-right: 8px;
          }
        }   
      }
      &__btn{
        margin-top: 20px;
        display: block;
        width: 100%;
        text-align: center;
        padding: 14px;
        box-sizing: border-box;
        border: 1px solid #C69A60;
        border-radius: 5px;
        color: #C69A60;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        @include w1024{
          width: 138.52px;
          fint-size: 12px;
          line-height: 16px;
          margin-top: 0;
          margin-left: auto;
        }
        @include w480{
          width: 138.52px;
          margin: 27px 0 0 0;
        }
        &:hover{
          cursor: pointer;
          animation: lightBTN 0.2s linear;
          background-color: $lightBG;
        }
      }
    }
  }
}