.articles-main{
  .articles-wrap-wr{
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
    
    .articles-item{
      margin: 20px 20px;
      width: calc(100% / 3 - 40px);
      @include w768{
        width: calc(100% / 3 - 20px);
        margin: 10px; 
      }
      @include w480{
        width: 100%;
        margin: 0;
        &:not(:last-child){
          margin-bottom: 34px;
        }
      }
      &-img{
        background-image: url('../images/fir.png');
        @include w768{
          margin-bottom: 16px;
        }
      }
      &__title{
        margin-bottom: 16px;
      }
      &__date{
        margin-bottom: 16px;
      }
      &__desc{
        display: none;
      }
      &__more{
        margin-top: 0;
      }
    }
  }
}
.pag-blog{
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  align-items: center;
  @include w480{
    margin-bottom: 40px;
  }
  &__link{
    display: block;
    border-radius: 5px;
    padding: 17px 17px 18px 18px;
    font-size: 12px;
    line-height: 16px;
    color: #737373;
    opacity: 0.7;
    &:hover:not(.pag-blog__link_a){
      cursor: pointer;
      animation: lightBTN 0.2s linear;
      background-color: $lightBG;
      opacity: 1;
    }
    &_a{
      opacity: 1;
      color: #FFFFFF;
      font-weight: 800;
      background: #C69A60;
      &:hover{
        opacity: 0.8;
      }
    }
  }
  &__next{
    opacity: 0.7;
    margin-left: 10px;
    &:hover{
      opacity: 1;
    }
  }
}