.catalog-main{
  max-width: 1085px;
  margin: 20px auto;
  &-wrap{
    margin: 0 -20px;
    width: calc(100% + 40px);
    display: flex;
    flex-wrap: wrap;
  }
  &-item{
    position: relative;
    box-sizing: border-box;
    width: calc(100% / 3 - 40px);
    margin: 20px 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    &__img{
      background-image: url('../images/moncat.png');
      margin-bottom: 24px;
      background-size: cover;
      background-repeat: no-repeat;
    }
    &__title{
      font-weight: bold;
      font-size: 18px;
      line-height: 25px;
      text-align: center;
      margin-bottom: 25px;
    }
    &__price{
      font-weight: 300;
      font-size: 14px;
      line-height: 19px;
      text-align: center;
      margin-bottom: 32px;
    }
    &__more{
      display: block;
      max-width: 197px;
      width: 100%;
      margin: 0 auto 30px;
      text-align: center;
      padding: 14px;
      box-sizing: border-box;
      border: 1px solid #C69A60;
      border-radius: 5px;
      color: #C69A60;
      font-weight: 600;
      font-size: 14px;
      line-height: 19px;
      &:hover{
        cursor: pointer;
        animation: lightBTN 0.2s linear;
        background-color: $lightBG;
      }
    }
  }
}