.catalog-main{
  max-width: 1085px;
  margin: 20px auto;
  padding: 0 20px;
  @include w480{
    padding: 0 10px;
  }
  &-wrap{
    margin: 0 -20px;
    width: calc(100% + 40px);
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    @include w1024{
      margin: 0 -10px;
      width: calc(100% + 20px);
    }
    @include w480{
      margin: 0;
      width: 100%;
      flex-direction: column;
    }
  }
  &-item{
    position: relative;
    box-sizing: border-box;
    width: calc(100% / 3 - 40px);
    margin: 20px 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-shadow: 0;
    transition: box-shadow .2s linear;
    &:hover{
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
    }
    @include w1024{
      margin: 10px;
      width: calc(100% / 3 - 20px);
    }
    @include w480{
      margin: 0;
      width: 100%;
      &:not(:last-child){
        margin-bottom: 20px;
      }
    }
    &__img{
      background-image: url('../images/moncat.png');
      margin-bottom: 24px;
      background-size: cover;
      background-repeat: no-repeat;
      @include w1024{
        margin-bottom: 16px;
      }
      @include w480{
        margin-bottom: 24px;
      }
    }
    &__title{
      font-weight: bold;
      font-size: 18px;
      line-height: 25px;
      text-align: center;
      margin-bottom: 25px;
      @include w1024{
        font-size: 14px;
        line-height: 19px;
        margin-bottom: 20px;
      }
      @include w480{
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 15px;
      }
    }
    &__price{
      font-weight: 300;
      font-size: 14px;
      line-height: 19px;
      text-align: center;
      margin-bottom: 32px;
      @include w1024{
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 20px;
      }
      @include w480{
        font-size: 14px;
        line-height: 19px;
      }
    }
    &__more{
      display: block;
      max-width: 197px;
      width: 100%;
      margin: 0 auto 30px;
      text-align: center;
      padding: 14px;
      box-sizing: border-box;
      border: 1px solid #C69A60;
      border-radius: 5px;
      color: #C69A60;
      font-weight: 600;
      font-size: 14px;
      line-height: 19px;
      transition: background-color .2s linear;
      @include w1024{
        width: 163px;
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 20px;
      }
      @include w480{
        width: 154.17px;
      }
      &:hover{
        cursor: pointer;
        background: rgba(198, 154, 96, 0.3);
      }
      &:active{
        background: rgba(198, 154, 96, 0.4);
      }
    }
  }
}