a(href="index.html") Главная
a(href="article.html") Статья
a(href="article1.html") Статья1
a(href="auction.html") Аукцион
a(href="blog.html") Блог
a(href="catalog1.html") Каталог1
a(href="catalog2.html") Каталог2
a(href="favourites.html") Избранное
a(href="404.html") 404
a(href="lk.html") Личный кабинет (Не сверстал)
a(href="login.html") Вход
a(href="registration.html") Регистрация